[Unit]
Description=typing_ex stat=roll_call

[Service]
User=ubuntu
Type=oneshot
WorkingDirectory=/home/ubuntu/typing-ex/systemd
Environment=PGPASSWORD=password
ExecStart=/bin/sh stat-update.sh roll-call
StandardOutput=append:/tmp/typing-ex.log
StandardError=append:/tmp/typing-ex.log
