[Unit]
Description=typing_ex stat=roll_call

[Service]
WorkingDirectory=/home/ubuntu/typing_ex
ExecStart=/bin/sh update-stat.sh roll_call
User=ubuntu
Type=simple

[Install]
WantedBy=multi-user.target
