[Unit]
Description=typing_ex stat=normal

[Service]
User=ubuntu
Type=oneshot
WorkingDirectory=/home/ubuntu/typing-ex/systemd
Environment=PGPASSWORD=password
ExecStart=/bin/sh stat-update.sh normal
StandardOutput=append:/home/ubuntu/typing-ex/log/typing-ex.log
StandardError=append:/home/ubuntu/typing-ex/log/typing-ex.log
