{:duct.profile/base
 {:duct.core/project-ns typing-ex

  :duct.router/ataraxy
  {:routes
   {[:get "/login"] [:typing-ex.handler.core/login]
    [:post "/login" {params :form-params}]
    [:typing-ex.handler.core/login-post params]

    [:get "/logout"]  [:typing-ex.handler.core/logout]

    [:get "/"] ^:auth [:typing-ex.handler.core/typing]
    [:get "/drill"] [:typing-ex.handler.core/drill]

    [:get  "/scores"]    ^:auth [:typing-ex.handler.core/scores]
    [:get "/scores-all"] ^:auth [:typing-ex.handler.core/scores-all]
    [:post "/score"]     ^:auth [:typing-ex.handler.core/score-post]

    [:get "/record/" login] ^:auth [:typing-ex.handler.core/record login]
    [:get "/todays/" login] [:typing-ex.handler.core/todays login]

    [:get "/trials"] ^:auth [:typing-ex.handler.core/trials]
    [:get "/daily"] ^:auth [:typing-ex.handler.core/todays-act]}

   :middleware {:auth #ig/ref :typing-ex.middleware/auth
                :cors #ig/ref :typing-ex.middleware/cors
                :probe #ig/ref :typing-ex.middleware/probe}}

  :typing-ex.middleware/auth  {:db #ig/ref :duct.database/sql}
  :typing-ex.middleware/probe {:db #ig/ref :duct.database/sql}
  :typing-ex.middleware/cors  {:db #ig/ref :duct.database/sql}

  :typing-ex.handler.core/login      {:db #ig/ref :duct.database/sql}
  :typing-ex.handler.core/login-post {:db #ig/ref :duct.database/sql}

  :typing-ex.handler.core/logout     {:db #ig/ref :duct.database/sql}

  :typing-ex.handler.core/typing {:db #ig/ref :duct.database/sql}

  :typing-ex.handler.core/score-post  {:db #ig/ref :duct.database/sql}
  :typing-ex.handler.core/scores      {:db #ig/ref :duct.database/sql}
  :typing-ex.handler.core/scores-all  {:db #ig/ref :duct.database/sql}
  ;;:typing-ex.handler.core/score       {:db #ig/ref :duct.database/sql}
  :typing-ex.handler.core/record      {:db #ig/ref :duct.database/sql}
  :typing-ex.handler.core/todays      {:db #ig/ref :duct.database/sql}

  :typing-ex.handler.core/drill       {:db #ig/ref :duct.database/sql}

  :typing-ex.handler.core/trials     {:db #ig/ref :duct.database/sql}
  :typing-ex.handler.core/todays-act {:db #ig/ref :duct.database/sql}}

 :duct.profile/dev   #duct/include "dev"
 :duct.profile/local #duct/include "local"
 :duct.profile/prod  {}

 :duct.module/logging {}
 :duct.module.web/site {}
 :duct.module/sql {}}
