{:duct.profile/base
 {:duct.core/project-ns typing-ex

  :duct.router/ataraxy
  {:routes
   {[:get  "/login"] [:typing-ex.handler.core/login]
    [:post "/login" {params :form-params}]
    [:typing-ex.handler.core/login-post params]
    [:get "/logout"]  [:typing-ex.handler.core/logout]
    [:get "/"]      ^:auth [:typing-ex.handler.core/typing]
    [:get "/drill"] ^:auth [:typing-ex.handler.core/drill]
    [:get "/scores"]    ^:auth [:typing-ex.handler.core/scores-no-arg]
    [:get "/scores/" n] ^:auth [:typing-ex.handler.core/scores n]
    [:get "/recent"]    ^:auth [:typing-ex.handler.core/recent]
    [:get "/sum/" n]    ^:auth [:typing-ex.handler.core/sum ^int n]
    [:post "/score"] ^:auth [:typing-ex.handler.core/score-post]
    [:get "/record/" login] ^:auth [:typing-ex.handler.core/record login]
    [:get "/todays/" login] ^:auth [:typing-ex.handler.core/todays login]
    [:get "/trials"] ^:auth [:typing-ex.handler.core/trials]
    [:get "/daily"]  ^:auth [:typing-ex.handler.core/todays-act]

    ;; ^:auth
    [:get "/stat"]  [:typing-ex.handler.core/stat]
    [:post "/stat"] [:typing-ex.handler.core/stat!]

    ;; midterm exam
    ;; [:get "/mt"] [:typing-ex.handler.core/mt]
    ;; [:get "/toggle-mt"] [:typing-ex.handler.core/toggle-mt]
    ;; [:get  "/bg"] [:typing-ex.handler.core/bg]
    ;; [:post "/bg"] [:typing-ex.handler.core/bg!]
    }

   :middleware {:auth #ig/ref :typing-ex.middleware/auth}}

  :typing-ex.middleware/auth  {:db #ig/ref :duct.database/sql}

  :typing-ex.handler.core/login      {:db #ig/ref :duct.database/sql}
  :typing-ex.handler.core/login-post {:db #ig/ref :duct.database/sql}
  :typing-ex.handler.core/logout     {:db #ig/ref :duct.database/sql}
  :typing-ex.handler.core/typing {:db #ig/ref :duct.database/sql}
  :typing-ex.handler.core/score-post  {:db #ig/ref :duct.database/sql}
  :typing-ex.handler.core/scores        {:db #ig/ref :duct.database/sql}
  :typing-ex.handler.core/recent        {:db #ig/ref :duct.database/sql}
  :typing-ex.handler.core/scores-no-arg {:db #ig/ref :duct.database/sql}
  :typing-ex.handler.core/sum           {:db #ig/ref :duct.database/sql}
 ;;:typing-ex.handler.core/score       {:db #ig/ref :duct.database/sql}
  :typing-ex.handler.core/record      {:db #ig/ref :duct.database/sql}
  :typing-ex.handler.core/todays      {:db #ig/ref :duct.database/sql}
  :typing-ex.handler.core/drill       {:db #ig/ref :duct.database/sql}
  :typing-ex.handler.core/trials     {:db #ig/ref :duct.database/sql}
  :typing-ex.handler.core/todays-act {:db #ig/ref :duct.database/sql}

  :typing-ex.handler.core/stat  {:db #ig/ref :duct.database/sql}
  :typing-ex.handler.core/stat! {:db #ig/ref :duct.database/sql}
  ;; :typing-ex.handler.core/bg   {:db #ig/ref :duct.database/sql}
  ;; :typing-ex.handler.core/bg!  {:db #ig/ref :duct.database/sql}
  ;; :typing-ex.handler.core/mt         {:db #ig/ref :duct.database/sql}
  ;; :typing-ex.handler.core/toggle-mt  {:db #ig/ref :duct.database/sql}
  }

 :duct.profile/dev   #duct/include "dev"
 :duct.profile/local #duct/include "local"
 :duct.profile/prod  {}

 :duct.module/logging {}
 :duct.module.web/site {}
 :duct.module/sql {}}
